@media(max-width: 1350px) {
	.goods___list {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media(max-width: 1050px) {
	.goods___list {
		grid-template-columns: 1fr 1fr;
	}
	.modal__content {
		width: 350px
	}
}

@media(max-width: 800px) {
	.goods___list {
		grid-template-columns: 1fr;
	}
}

@media(max-width: 500px) {
	.modal__content {
			width: 250px;
			height: 350px;
		}
}